# Core dependencies


# NLP & Embeddings


# Vector databases (choose one or more)


# LLM Integration


# Text processing


# Machine Learning


# Data visualization


# Jupyter notebooks


# Development dependencies


# Utilities

